main {
    max-width: 1100px;
    margin: 66px auto 80px;
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main section {
    background: #ffffff;
    border-radius: 14px;
    border: 1px solid #E8ECF4;
    border-top: 3px solid #4F46E5;
    padding: 24px;
}

main section h2 {
    font-size: 1rem;
    font-weight: 700;
    color: #111827;
    margin-bottom: 16px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: end;
}

form input,
form select {
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 10px 14px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 13px;
    color: #111827;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    width: 100%;
}

form input:focus,
form select:focus {
    border-color: #4F46E5;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1);
    background: #ffffff;
}

form input[type="file"] {
    padding: 8px;
}

form button {
    grid-column: 1 / -1;
    background: linear-gradient(135deg, #4F46E5, #7C3AED);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 22px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s;
}

form button:hover {
    opacity: 0.88;
}

img {
    border-radius: 10px;
    margin-bottom: 10px;
}
.form-acciones {
    grid-column: 1 / -1;
    display: flex;
    gap: 10px;
    margin-top: 4px;
}

.form-acciones button {
    flex: 1;
    background: linear-gradient(135deg, #4F46E5, #7C3AED);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 22px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s;
}

.btn-cancelar:hover {
    opacity: 0.88;
}
.btn-cancelar {
    flex: 1;
    display: flex;
   border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    background-color: rgb(216, 214, 214);
}